<?xml version="1.0" encoding="UTF-8"?>
<configuration status="OFF" monitorInterval="60">
	<properties>
		<property name="filename">logs/ypdriver.log</property>
	</properties>
	<appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] %p %c: %m%n" />
		</Console>
		<File name="FILE" fileName="${filename}">
			<PatternLayout pattern="[%d{HH:mm:ss.SSS}] %p %c: %m%n" />
		</File>
	</appenders>
	<loggers>
		<root level="info">
			<appender-ref ref="STDOUT" />
			<appender-ref ref="FILE" />
		</root>
	</loggers>
</configuration>